@media (max-width:1200px) {

  .container {
    padding: 0 70px;
  }

  .header {

    &__nav {
      margin-left: 70px;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  .about {    
    padding-bottom: 371px;
    &::after {
      content: '';
      background-image: url(../images/about-responsive.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 70%;
    }

    &__title {
      font-size: 72px;
      margin-bottom: 60px;
      padding-top: 155px;
      // margin-left: 70px;
    }

    &__text {
      font-size: 28px;
      opacity: 0.5;
      // margin-left: 70px;

    }
  }

  .advantages {

    &__title {
      margin-right: 165px;
      font-size: 50px;
    }

    &__about {
      font-size: 20px;
    }

    &__wrapper {
      margin-bottom: 80px;
    }

    &__blocks {
      grid-column-gap: 153px;
    }
  }

  .solutions {
    background-color: #0a0d1e;

    &::after {
      display: none;
    }

    &__title {
      margin-bottom: 60px;

      span {
        display: none;
      }
    }

    &__text {
      display: none;
    }

    img {
      margin: 0 auto;
    }
  }

  .partners {

    &__list {
      &--main {

        li {
          margin-right: 45px;

          &:nth-child(4) {
            margin-right: 0;
          }
    
          &:nth-child(6) {
            margin-right: 45px;
          }
        }
      }

      &--secondary {

        li {
          &:nth-child(5) {
            margin-right: 45px;
          }
        }
      }
    }
  }

  .tech {
    background-color: #0a0d1e;

    &::after {
      display: none;
    }


    &__inner {
      grid-template-columns: repeat(3,1fr);
      grid-row-gap: 70px;
      grid-column-gap: 0px;
    }

    &__block {
      max-width: 220px;
    }
  }

  .footer {
  
    // &__content {
    //   margin-right: 200px;
    // }
  
    &__title {
      font-size: 50px;
    }
  
    // &__map {
    //   max-width: 485px;
    //   // width: 100%;
    // }
  }
}

@media (max-width:992px) {

  .header {
    &__nav {
      display: none;

      &--active {
        display: block;
      }
    }

    &__burger {
      display: block;
    }

    &__languages {
      display: none;
    }
  }

  .solutions {

    &__list {
      display: block;
    }

    &__image {
      display: none;
    }
  }

  .partners {

    &__list {

      &--main {
        li {
          margin-right: 20px;
  
          &:nth-child(4) {
            margin-right: 20px;
          }
        }
      }

      
      
    }
  }

  .all-solutions {

    &__list {
      grid-template-columns: 1fr;
      // grid-row-gap: 20px;
    }
  }

  .job {
    padding-bottom: 0px;

    &__list {
      flex-direction: column;
    }

    &__item {

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }

  .hr {
    padding-top: 45px;
  }
}

@media (max-width:768px) {

  .container {
    padding: 0 40px;
  }

  .about {
    padding-bottom: 321px;

    &__title {
      font-size: 48px;
    }

    &__text {
      font-size: 22px;
    }
  }

  .advantages {

    &__wrapper {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 50px;
    }
    
    &__blocks {
      grid-column-gap: 57px;
      grid-row-gap: 70px;
    }

    &__subtitle {
      font-size: 22px;
      position: relative;
      padding-left: 70px;
      background-size: cover;
      margin-bottom: 6px;

      &::before {
        // content: '';
        // position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
      }
    }
  }

  .solutions {
    
    &__title {
      font-size: 40px;
    }    
  }

  .partners {
    padding-bottom: 50px;

    &__title {
      margin-bottom: 60px;
    }

    &__list {

      &--main {

        li {
          margin-right: 55px;

          &:nth-child(5) {
            display: none;
          }
        }
      }

      &--secondary {
        display: none;
      }
    }

    img {
      // max-width: 230px;
      height: 50px;
    }
  }

  .tech {
    
    &__title {
      font-size: 50px;
      margin-bottom: 50px;
    }

    &__text {
      font-size: 20px;
      margin-bottom: 130px;
    }

    &__inner {
      grid-column-gap: 42px;
      padding-bottom: 107px;
    }
  }

  .footer {
    // padding-bottom: 67px;

    &__adress {
      font-size: 22px;
    }
  }

  .info {
    padding: 80px 0;
  }

  .all-solutions {
    padding: 50px 0;
  }
}

@media (max-width:576px) {
  .container {
    padding: 0 15px;
  }

  .header {
    padding: 23px 15px;

    &__item--dropdown {
      
      .header-dropdown {
        position: static;
        // padding: 30px;
        padding: 15px 30px;
        margin-left: 30px;
      }
    }
  }

  .about {
    // padding-top: 86px;
    padding-bottom: 322px;

    &__title {
      font-size: 34px;
      margin-bottom: 50px;
      padding-top: 86px;
    }

    &__text {
      font-size: 16px;
      letter-spacing: 0.02em;
      // opacity: 1;
    }
  }

  .advantages {
    padding-top: 80px;
    padding-bottom: 20px;

    &__title {
      font-size: 28px;
      max-width: 190px;
      margin-bottom: 43px;
    }

    &__about {
      font-size: 16px;
      // margin-bottom: 80px;
      span:last-child {
        margin-bottom: 0;
      }
    }

    &__text {
      font-size: 16px;
      // margin-bottom: 80px;
    }

    &__blocks {
      grid-template-columns: 1fr;
    }

    &__subtitle {
      // font-size: 22px;
      padding-left: 100px;
      margin-bottom: 15px;
    }


  }

  .partners {
    padding-top: 80px;

    &__title {
      font-size: 28px;
    }

    &__list {

      li {
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .tech {
    // padding-top: 80px;

    &__title {
      font-size: 28px;
      padding-top: 80px;
      margin-bottom: 50px;
    }

    &__text {
      margin-bottom: 60px;
      font-size: 18px;
    }

    &__inner {
      grid-template-columns: 1fr;
      grid-row-gap: 45px;
      padding-bottom: 80px;
    }
  }

  .footer {
    // padding-top: 80px;
    flex-direction: column;

    &__title {
      padding-top: 80px;
      font-size: 28px;
      margin-bottom: 60px;
    }

    &__tel {
      font-size: 18px;
      margin-bottom: 30px;
    }

    &__adress {
      font-size: 18px;
      margin-bottom: 60px;

      span{
        margin-bottom: 0;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    &__map {
      width: 100%;
    }

    &__inner {
      flex-direction: column;
    }
  }

  .info {
    padding: 70px 0;

    &__title {
      font-size: 25px;
    }
  }

  .all-solutions {

    &__title {
      font-size: 30px;
      margin-bottom: 50px;
    }
  }

  .contact {

    &__title {
      font-size: 30px;
    }
  }

  .job {
    padding-top: 91px;
  }

  .hr {
    padding-bottom: 120px;

    &__title {
      margin-bottom: 23px;
    }

    &__item:not(:last-child) {
      margin-bottom: 21px;
    }
  }
}

@media (max-width:375px) {
  .partners {
    &__list {
      li {
        // margin-right: 0;

        &:nth-child(4) {
          margin-right: 0;
        }

        &:nth-child(6) {
          margin-right: 0;
        }

        margin-right: 20px;
      }
    }
  }
}